Repository ezhivitsa/microservices-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: make lint, make validate-api-gateway, make validate-authorization, make validate-email, make validate-users, make validate-authorization-form, make validate-dashboard, make validate-main, make validate-settings

[+] Add handling of the /ping request in backend services
  Makefile
  README.md
  src/backend-services/authorization/dev.env
  src/backend-services/authorization/src/app/boot.ts
  src/backend-services/authorization/src/app/configs/environment/development.ts
  src/backend-services/authorization/src/app/configs/environment/production.ts
  src/backend-services/authorization/src/app/configs/types.ts
  src/backend-services/authorization/src/app/configs/utils.ts
  src/backend-services/email/dev.env
  src/backend-services/email/src/boot.ts
  src/backend-services/email/src/configs/environment/production.ts
  src/backend-services/email/src/configs/types.ts
  src/backend-services/email/src/configs/utils.ts
  src/backend-services/users/Makefile
  src/backend-services/users/dev.env
  src/backend-services/users/src/app/boot.ts
  src/backend-services/users/src/app/configs/environment/production.ts
  src/backend-services/users/src/app/configs/types.ts
  src/backend-services/users/src/app/configs/utils.ts
  src/packages/backend-service/package.json
  src/packages/backend-service/src/index.ts
  src/packages/backend-service/src/lib/index.ts
  src/packages/backend-service/src/lib/ping/index.ts
  src/packages/backend-service/src/lib/ping/ping.ts
  src/packages/communication/src/kafka/consumer.ts
  src/packages/communication/src/kafka/kafka-command-handler.ts
  src/packages/communication/src/kafka/kafka-mock.ts
  src/packages/communication/src/kafka/kafka.ts
  yarn.lock
Due: make lint, make validate-authorization, make validate-email, make validate-users

[+] Add saga orchestration
  README.md
  src/backend-services/api-gateway/src/constants/account-constants.ts
  src/backend-services/api-gateway/src/providers/auth/index.ts
  src/backend-services/api-gateway/src/providers/auth/types.ts
  src/backend-services/api-gateway/src/services/account-service/account-service.ts
  src/backend-services/api-gateway/src/services/account-service/sagas/index.ts
  src/backend-services/api-gateway/src/services/account-service/sagas/register-saga.ts
  src/backend-services/authorization/@types/koa-kafka.d.ts
  src/backend-services/authorization/src/app/routes/index.ts
  src/backend-services/authorization/src/app/routes/v1/handlers/cancel-registration.ts
  src/backend-services/authorization/src/app/routes/v1/handlers/index.ts
  src/backend-services/authorization/src/app/routes/v1/index.ts
  src/backend-services/authorization/src/app/routes/v1/types.ts
  src/backend-services/authorization/src/app/routes/v1/validators/cancel-registration.ts
  src/backend-services/authorization/src/app/routes/v1/validators/index.ts
  src/backend-services/authorization/src/app/services/auth/delete-user.ts
  src/backend-services/authorization/src/app/services/auth/index.ts
  src/backend-services/authorization/src/app/services/auth/types.ts
  src/backend-services/authorization/src/app/storage/storage-service.ts
  src/backend-services/authorization/src/tests/commands.ts
  src/backend-services/authorization/src/tests/integration/cancel-registration.test.ts
  src/backend-services/users/@types/koa-kafka.d.ts
  src/backend-services/users/src/app/routes/index.ts
  src/client-services/authorization-form/src/components/pages/signup/validation.ts
  src/client-services/main/src/server/middlewares/index-page-middleware.ts
  src/packages/common/src/server-constants/authorization-constants.ts
  src/packages/communication/messages/authorization/auth.proto
  src/packages/communication/src/clients/authorization/authorization-client.ts
  src/packages/communication/src/index.ts
  src/packages/communication/src/kafka/index.ts
  src/packages/communication/src/proto-messages/authorization/commands.ts
  src/packages/communication/src/proto-messages/authorization/schemas/auth.ts
  src/packages/communication/src/proto-messages/authorization/types/auth.ts
  src/packages/communication/src/saga/index.ts
  src/packages/communication/src/saga/saga-builder.ts
  src/packages/communication/src/saga/saga.ts
  src/packages/communication/src/saga/types.ts
  src/packages/koa-kafka/src/koa-kafka/koa-kafka.ts
Due: make lint, make validate-api-gateway, make validate-authorization, make validate-users, make validate-authorization-form, make validate-main

[*] Update dependencies
  README.md
  dev.env
  package.json
  src/backend-services/api-gateway/package.json
  src/backend-services/authorization/package.json
  src/backend-services/email/package.json
  src/backend-services/users/package.json
  src/client-services/authorization-form/package.json
  src/client-services/dashboard/package.json
  src/client-services/main/package.json
  src/client-services/main/src/client/components/layout/layout.tsx
  src/client-services/settings/package.json
  src/client-services/ui-demo/package.json
  src/packages/backend-service/package.json
  src/packages/client/package.json
  src/packages/communication/package.json
  src/packages/eslint-config/package.json
  src/packages/koa-kafka/package.json
  src/packages/logger/package.json
  src/packages/postcss-config/package.json
  src/packages/proto/package.json
  src/packages/server/package.json
  src/packages/stylelint-config/package.json
  src/packages/ui/package.json
  src/packages/webpack/package.json
  yarn.lock
Due: make validate-main

[+] Add user info to kafka message handlers
  README.md
  src/backend-services/api-gateway/src/providers/auth/index.ts
  src/backend-services/api-gateway/src/providers/converters/index.ts
  src/backend-services/api-gateway/src/providers/converters/metadata-to-proto.ts
  src/backend-services/api-gateway/src/providers/email/index.ts
  src/backend-services/api-gateway/src/providers/types.ts
  src/backend-services/api-gateway/src/providers/users/index.ts
  src/backend-services/api-gateway/src/routes/v1/public/account/handlers/sign-in.ts
  src/backend-services/api-gateway/src/services/account-service/sagas/register-saga.ts
  src/backend-services/api-gateway/src/services/types.ts
  src/client-services/authorization-form/src/errors.ts
  src/client-services/authorization-form/src/texts.tsx
  src/packages/backend-service/src/middlewares/log-request-middleware.ts
  src/packages/client/Makefile
  src/packages/client/jest-unit.config.json
  src/packages/client/package.json
  src/packages/common/src/errors/authorization.ts
  src/packages/communication/src/index.ts
  src/packages/communication/src/kafka/constants.ts
  src/packages/communication/src/kafka/index.ts
  src/packages/communication/src/kafka/kafka-command-handler.ts
  src/packages/communication/src/kafka/kafka-command.ts
  src/packages/communication/src/kafka/messages.ts
  src/packages/communication/src/kafka/types.ts
  src/packages/communication/src/saga/saga-builder.ts
  src/packages/communication/src/saga/saga.ts
  src/packages/communication/src/saga/types.ts
  src/packages/koa-kafka/src/koa-kafka/context.ts
  src/packages/koa-kafka/src/koa-kafka/types.ts
Due: make lint, make validate-api-gateway, make validate-authorization-form

[+] Add readme for packages
  README.md
  src/packages/ui-ex/README.md
  src/packages/ui/README.md
  src/packages/webpack/README.md
Due: none

[+] Add packages description
  src/packages/koa-kafka/README.md
  src/packages/logger/README.md
  src/packages/media/README.md
  src/packages/postcss-config/README.md
  src/packages/proto/README.md
  src/packages/server/README.md
  src/packages/stylelint-config/README.md
Due: none

[*] Finish documentation for koa-kafka package
  README.md
  src/packages/communication/README.md
  src/packages/eslint-config/README.md
  src/packages/koa-kafka/README.md
  src/packages/koa-kafka/src/koa-kafka/koa-kafka.ts
Due: make lint

[+] Add documentation for protobuf messages
  src/packages/communication/KAFKA_API.md
  src/packages/communication/MESSAGES.md
  src/packages/communication/README.md
  src/packages/communication/SAGA_API.md
  src/packages/communication/src/kafka/kafka-command.ts
  src/packages/communication/src/kafka/kafka.ts
  src/packages/communication/src/kafka/messages.ts
  src/packages/communication/src/kafka/types.ts
Due: make lint

[*] Finish documentation for packages
  src/packages/backend-service/README.md
  src/packages/client/README.md
  src/packages/client/src/lib/index.ts
  src/packages/client/src/lib/qiankun.ts
  src/packages/common/README.md
  src/packages/communication/README.md
  src/packages/communication/SAGA_API.md
Due: make lint

[+] Add documentation for services
  src/backend-services/api-gateway/README.md
  src/backend-services/authorization/README.md
  src/backend-services/email/README.md
  src/backend-services/users/README.md
  src/client-services/authorization-form/README.md
  src/client-services/dashboard/README.md
  src/client-services/main/README.md
  src/client-services/main/src/client/tsconfig.json
  src/client-services/main/src/common/.gitkeep
  src/client-services/main/src/server/boot.ts
  src/client-services/main/src/server/tsconfig.json
  src/client-services/settings/README.md
  src/client-services/ui-demo/README.md
  src/client-services/ui-demo/src/server/@types/koa.d.ts
  src/client-services/ui-demo/src/server/app.ts
  src/client-services/ui-demo/src/server/middlewares/assets-middleware.ts
  src/client-services/ui-demo/src/server/middlewares/config-middleware.ts
  src/client-services/ui-demo/src/server/middlewares/index-page-middleware.ts
  src/client-services/ui-demo/src/server/routes/get-component.ts
  src/packages/postcss-config/index.js
Due: make lint, make validate-main

[+] Add proto messages for appointments service
  src/backend-services/appointments/.eslintrc.js
  src/backend-services/appointments/.prettierrc.json
  src/backend-services/appointments/package.json
  src/backend-services/appointments/src/app/lib/db/config/config.ts
  src/backend-services/appointments/src/app/lib/db/config/index.ts
  src/backend-services/appointments/src/app/lib/db/models/appointment-event.ts
  src/backend-services/appointments/src/app/lib/db/models/command.ts
  src/backend-services/appointments/src/app/lib/db/models/index.ts
  src/packages/communication/messages/appointments/appointment.proto
  src/packages/communication/messages/appointments/errors.proto
  src/packages/communication/src/channels.ts
  src/packages/communication/src/proto-messages/appointments/commands.ts
  src/packages/communication/src/proto-messages/appointments/events.ts
  src/packages/communication/src/proto-messages/appointments/index.ts
  src/packages/communication/src/proto-messages/appointments/schemas/appointment.ts
  src/packages/communication/src/proto-messages/appointments/schemas/errors.ts
  src/packages/communication/src/proto-messages/appointments/schemas/index.ts
  src/packages/communication/src/proto-messages/appointments/schemas/root.ts
  src/packages/communication/src/proto-messages/appointments/types/appointment.ts
  src/packages/communication/src/proto-messages/appointments/types/errors.ts
  src/packages/communication/src/proto-messages/appointments/types/index.ts
  src/packages/communication/src/proto-messages/index.ts
  yarn.lock
Due: make lint

[+] Add appointments backend service
  src/backend-services/appointments/@types/koa-kafka.d.ts
  src/backend-services/appointments/Makefile
  src/backend-services/appointments/dev.env
  src/backend-services/appointments/docker-compose.yaml
  src/backend-services/appointments/jest-integration.config.json
  src/backend-services/appointments/nodemon.json
  src/backend-services/appointments/src/app/app.ts
  src/backend-services/appointments/src/app/boot.ts
  src/backend-services/appointments/src/app/configs/environment/development.ts
  src/backend-services/appointments/src/app/configs/environment/production.ts
  src/backend-services/appointments/src/app/configs/environment/staging.ts
  src/backend-services/appointments/src/app/configs/environment/testing.ts
  src/backend-services/appointments/src/app/configs/types.ts
  src/backend-services/appointments/src/app/configs/utils.ts
  src/backend-services/appointments/src/app/lib/config.ts
  src/backend-services/appointments/src/app/lib/kafka.ts
  src/backend-services/appointments/src/app/lib/logger.ts
  src/backend-services/appointments/src/app/lib/uniq-model.ts
  src/backend-services/appointments/src/app/services/errors.ts
  src/backend-services/appointments/src/app/services/index.ts
  src/backend-services/appointments/tsconfig.json
  src/backend-services/appointments/tsconfig.production.json
  src/packages/communication/src/clients/appointments/appointments-client.ts
  src/packages/communication/src/clients/appointments/appointments-error.ts
  src/packages/communication/src/clients/appointments/index.ts
  src/packages/communication/src/clients/index.ts
Due: make lint

[+] Add mongo services
  src/backend-services/appointments/src/app/lib/db/models/appointment-event.ts
  src/backend-services/appointments/src/app/lib/db/models/appointment-snapshot.ts
  src/backend-services/appointments/src/app/lib/db/models/command.ts
  src/backend-services/appointments/src/app/lib/db/models/index.ts
  src/backend-services/appointments/src/app/services/commands/add-id.ts
  src/backend-services/appointments/src/app/services/commands/index.ts
  src/backend-services/appointments/src/app/services/commands/uniq-id.ts
  src/backend-services/appointments/src/app/services/errors.ts
  src/backend-services/appointments/src/app/storage/aggregate-builder.ts
  src/backend-services/appointments/src/app/storage/index.ts
  src/backend-services/appointments/src/app/storage/read-only-aggregate-service.ts
  src/backend-services/appointments/src/app/storage/read-only-storage-service.ts
  src/backend-services/appointments/src/app/storage/storage-service.ts
  src/packages/communication/messages/appointments/appointment.proto
  src/packages/communication/messages/appointments/errors.proto
  src/packages/communication/messages/common/event.proto
  src/packages/communication/src/proto-messages/appointments/types/appointment.ts
  src/packages/communication/src/proto-messages/appointments/types/errors.ts
  src/packages/communication/src/proto-messages/common/types/event.ts
Due: make lint

[+] Add read only aggregate service
  src/backend-services/appointments/src/app/lib/db/models/command.ts
  src/backend-services/appointments/src/app/lib/db/models/counter.ts
  src/backend-services/appointments/src/app/lib/db/models/index.ts
  src/backend-services/appointments/src/app/storage/aggregate-builder.ts
  src/backend-services/appointments/src/app/storage/aggregate-service.ts
  src/backend-services/appointments/src/app/storage/read-only-aggregate-service.ts
Due: none

[+] Add ability tp update snapshot
  src/backend-services/appointments/src/app/lib/db/models/appointment-event.ts
  src/backend-services/appointments/src/app/lib/db/models/appointment-snapshot.ts
  src/backend-services/appointments/src/app/lib/db/models/counter.ts
  src/backend-services/appointments/src/app/lib/db/models/index.ts
  src/backend-services/appointments/src/app/lib/db/utils.ts
  src/backend-services/appointments/src/app/storage/aggregate-service.ts
Due: none

[+] Add create appointment handler
  src/backend-services/appointments/package.json
  src/backend-services/appointments/src/app/lib/db/config/config.ts
  src/backend-services/appointments/src/app/lib/db/models/appointment-event.ts
  src/backend-services/appointments/src/app/lib/db/models/appointment-snapshot.ts
  src/backend-services/appointments/src/app/lib/db/models/command.ts
  src/backend-services/appointments/src/app/lib/db/models/counter.ts
  src/backend-services/appointments/src/app/lib/db/models/index.ts
  src/backend-services/appointments/src/app/routes/index.ts
  src/backend-services/appointments/src/app/routes/v1/converters/create-appointment-to-client.ts
  src/backend-services/appointments/src/app/routes/v1/converters/index.ts
  src/backend-services/appointments/src/app/routes/v1/handlers/create-appointment.ts
  src/backend-services/appointments/src/app/routes/v1/handlers/index.ts
  src/backend-services/appointments/src/app/routes/v1/index.ts
  src/backend-services/appointments/src/app/routes/v1/types.ts
  src/backend-services/appointments/src/app/routes/v1/validators/common.ts
  src/backend-services/appointments/src/app/routes/v1/validators/create-appointment.ts
  src/backend-services/appointments/src/app/routes/v1/validators/index.ts
  src/backend-services/appointments/src/app/services/appointments/types.ts
  src/backend-services/appointments/src/app/storage/commands-storage-service.ts
  src/backend-services/appointments/src/app/storage/storage-service.ts
  src/backend-services/authorization/src/app/lib/db/models/index.ts
  src/backend-services/authorization/src/app/storage/commands-storage-service.ts
  src/backend-services/authorization/src/app/storage/users-storage-service.ts
  src/backend-services/authorization/src/tests/utils/db-utils.ts
  src/backend-services/users/src/app/lib/db/models/index.ts
  src/backend-services/users/src/app/storage/commands-storage-service.ts
  src/backend-services/users/src/app/storage/users-storage-service.ts
  src/backend-services/users/src/tests/utils/db-utils.ts
  src/packages/communication/messages/appointments/appointment.proto
  src/packages/communication/src/proto-messages/appointments/commands.ts
  src/packages/communication/src/proto-messages/appointments/schemas/appointment.ts
  src/packages/communication/src/proto-messages/appointments/types/appointment.ts
  yarn.lock
Due: make lint, make validate-authorization, make validate-users

[+] Add appointment aggregate service
  src/backend-services/appointments/src/app/lib/db/models/appointment-snapshot.ts
  src/backend-services/appointments/src/app/routes/errors.ts
  src/backend-services/appointments/src/app/routes/v1/handlers/utils.ts
  src/backend-services/appointments/src/app/services/appointments/create-appointment.ts
  src/backend-services/appointments/src/app/services/appointments/index.ts
  src/backend-services/appointments/src/app/services/appointments/types.ts
  src/backend-services/appointments/src/app/services/errors.ts
  src/backend-services/appointments/src/app/services/index.ts
  src/backend-services/appointments/src/app/storage/aggregate-builder.ts
  src/backend-services/appointments/src/app/storage/aggregate-service.ts
  src/backend-services/appointments/src/app/storage/appointments-aggregate-service.ts
  src/backend-services/appointments/src/app/storage/commands-storage-service.ts
  src/backend-services/appointments/src/app/storage/index.ts
Due: none

[+] Add create appointment service method
  src/backend-services/appointments/src/app/lib/db/models/appointment-event.ts
  src/backend-services/appointments/src/app/routes/errors.ts
  src/backend-services/appointments/src/app/routes/v1/handlers/utils.ts
  src/backend-services/appointments/src/app/services/appointments/create-appointment.ts
  src/backend-services/appointments/src/app/services/appointments/types.ts
  src/backend-services/appointments/src/app/services/appointments/update-appointment.ts
  src/backend-services/appointments/src/app/services/appointments/utils.ts
  src/backend-services/appointments/src/app/services/appointments/validators/index.ts
  src/backend-services/appointments/src/app/services/appointments/validators/validate-access.ts
  src/backend-services/appointments/src/app/services/errors.ts
  src/backend-services/appointments/src/app/storage/aggregate-service.ts
  src/packages/koa-kafka/src/index.ts
  src/packages/koa-kafka/src/koa-kafka/context.ts
  src/packages/koa-kafka/src/koa-kafka/index.ts
  src/packages/koa-kafka/src/koa-kafka/session-user.ts
Due: make lint

[*] Update medatada in communication clients
  src/backend-services/api-gateway/@types/koa.d.ts
  src/backend-services/api-gateway/src/providers/converters/metadata-to-proto.ts
  src/backend-services/appointments/src/app/lib/clients.ts
  src/backend-services/appointments/src/app/lib/db/models/appointment-snapshot.ts
  src/backend-services/appointments/src/app/providers/appointments/index.ts
  src/backend-services/appointments/src/app/providers/appointments/types.ts
  src/backend-services/appointments/src/app/providers/index.ts
  src/backend-services/appointments/src/app/providers/types.ts
  src/backend-services/appointments/src/app/services/appointments/create-appointment.ts
  src/backend-services/appointments/src/app/services/appointments/update-appointment.ts
  src/backend-services/appointments/src/app/services/appointments/validators/index.ts
  src/backend-services/appointments/src/app/services/appointments/validators/validate-appointment.ts
  src/backend-services/appointments/src/app/storage/aggregate-builder.ts
  src/backend-services/appointments/src/app/storage/aggregate-service.ts
  src/backend-services/appointments/src/app/storage/appointments-aggregate-service.ts
  src/packages/communication/messages/users/user.proto
  src/packages/communication/src/clients/appointments/appointments-client.ts
  src/packages/communication/src/clients/base-client.ts
  src/packages/communication/src/clients/types.ts
  src/packages/communication/src/clients/users/users-client.ts
  src/packages/communication/src/proto-messages/users/types/user.ts
Due: make lint, make validate-api-gateway

[+] Add handlers for update nad delete appointment commands
  src/backend-services/appointments/src/app/lib/clients.ts
  src/backend-services/appointments/src/app/lib/db/models/index.ts
  src/backend-services/appointments/src/app/providers/appointments/converters/appointment-created-to-proto.ts
  src/backend-services/appointments/src/app/providers/appointments/converters/appointment-updated-to-proto.ts
  src/backend-services/appointments/src/app/providers/appointments/converters/index.ts
  src/backend-services/appointments/src/app/providers/appointments/index.ts
  src/backend-services/appointments/src/app/providers/appointments/types.ts
  src/backend-services/appointments/src/app/providers/converters/index.ts
  src/backend-services/appointments/src/app/providers/converters/metadata-to-proto.ts
  src/backend-services/appointments/src/app/providers/types.ts
  src/backend-services/appointments/src/app/routes/v1/converters/index.ts
  src/backend-services/appointments/src/app/routes/v1/converters/update-appointment-to-client.ts
  src/backend-services/appointments/src/app/routes/v1/handlers/create-appointment.ts
  src/backend-services/appointments/src/app/routes/v1/handlers/delete-appointment.ts
  src/backend-services/appointments/src/app/routes/v1/handlers/index.ts
  src/backend-services/appointments/src/app/routes/v1/handlers/update-appointment.ts
  src/backend-services/appointments/src/app/routes/v1/index.ts
  src/backend-services/appointments/src/app/routes/v1/types.ts
  src/backend-services/appointments/src/app/routes/v1/validators/delete-appointment.ts
  src/backend-services/appointments/src/app/routes/v1/validators/index.ts
  src/backend-services/appointments/src/app/routes/v1/validators/update-appointment.ts
  src/backend-services/appointments/src/app/services/appointments/create-appointment.ts
  src/backend-services/appointments/src/app/services/appointments/delete-appointment.ts
  src/backend-services/appointments/src/app/services/appointments/index.ts
  src/backend-services/appointments/src/tests/commands.ts
  src/backend-services/appointments/src/tests/intergation/create-appointment.test.ts
  src/backend-services/appointments/src/tests/setup.ts
  src/backend-services/appointments/src/tests/utils/db-utils.ts
  src/backend-services/authorization/src/tests/commands.ts
  src/backend-services/users/src/tests/commands.ts
  src/packages/communication/src/clients/appointments/appointments-client.ts
  src/packages/communication/src/clients/authorization/authorization-client.ts
  src/packages/communication/src/clients/base-client.ts
  src/packages/communication/src/clients/email/email-client.ts
  src/packages/communication/src/clients/users/users-client.ts
Due: make lint, make validate-authorization, make validate-users

[+] Add appointment routes to api gateway
  .lintstagedrc.yaml
  Makefile
  README.md
  src/backend-services/api-gateway/src/errors.ts
  src/backend-services/api-gateway/src/lib/clients.ts
  src/backend-services/api-gateway/src/lib/oauth/model.ts
  src/backend-services/api-gateway/src/providers/appointments/converters/create-appointment-to-proto.ts
  src/backend-services/api-gateway/src/providers/appointments/converters/index.ts
  src/backend-services/api-gateway/src/providers/appointments/converters/update-appointment-to-proto.ts
  src/backend-services/api-gateway/src/providers/appointments/index.ts
  src/backend-services/api-gateway/src/providers/appointments/types.ts
  src/backend-services/api-gateway/src/providers/index.ts
  src/backend-services/api-gateway/src/providers/types.ts
  src/backend-services/api-gateway/src/routes/v1/authenticated/appointments/handlers/create-appointment.ts
  src/backend-services/api-gateway/src/routes/v1/authenticated/appointments/handlers/delete-appointment.ts
  src/backend-services/api-gateway/src/routes/v1/authenticated/appointments/handlers/index.ts
  src/backend-services/api-gateway/src/routes/v1/authenticated/appointments/handlers/update-appointment.ts
  src/backend-services/api-gateway/src/routes/v1/authenticated/appointments/index.ts
  src/backend-services/api-gateway/src/routes/v1/authenticated/appointments/types.ts
  src/backend-services/api-gateway/src/routes/v1/authenticated/appointments/validators/create-appointment.ts
  src/backend-services/api-gateway/src/routes/v1/authenticated/appointments/validators/delete-appointment.ts
  src/backend-services/api-gateway/src/routes/v1/authenticated/appointments/validators/index.ts
  src/backend-services/api-gateway/src/routes/v1/authenticated/appointments/validators/update-appointment.ts
  src/backend-services/api-gateway/src/routes/v1/authenticated/index.ts
  src/backend-services/api-gateway/src/routes/v1/authenticated/users/index.ts
  src/backend-services/api-gateway/src/routes/v1/authenticated/users/validators/index.ts
  src/backend-services/api-gateway/src/routes/v1/authenticated/users/validators/update-current.ts
  src/backend-services/api-gateway/src/services/appointments-service/appointments-service.ts
  src/backend-services/api-gateway/src/services/appointments-service/index.ts
  src/backend-services/api-gateway/src/services/appointments-service/types.ts
  src/backend-services/api-gateway/src/services/index.ts
  src/backend-services/api-gateway/src/services/types.ts
  src/packages/common/src/server-constants/appointments-constants.ts
  src/packages/common/src/server-constants/index.ts
  src/packages/common/src/service-types/appointments-types.ts
  src/packages/common/src/service-types/index.ts
  src/packages/communication/src/index.ts
  src/packages/communication/src/kafka/index.ts
  src/packages/communication/src/kafka/kafka-command.ts
Due: make lint, make validate-api-gateway

[+] Add schedule service
  src/backend-services/schedule/.eslintrc.js
  src/backend-services/schedule/.prettierrc.json
  src/backend-services/schedule/.sequelizerc
  src/backend-services/schedule/@types/koa-kafka.d.ts
  src/backend-services/schedule/Makefile
  src/backend-services/schedule/dev.env
  src/backend-services/schedule/docker-compose.yaml
  src/backend-services/schedule/jest-integration.config.json
  src/backend-services/schedule/nodemon.json
  src/backend-services/schedule/package.json
  src/backend-services/schedule/src/app/app.ts
  src/backend-services/schedule/src/app/boot.ts
  src/backend-services/schedule/src/app/configs/environment/development.ts
  src/backend-services/schedule/src/app/configs/environment/production.ts
  src/backend-services/schedule/src/app/configs/environment/staging.ts
  src/backend-services/schedule/src/app/configs/environment/testing.ts
  src/backend-services/schedule/src/app/configs/types.ts
  src/backend-services/schedule/src/app/configs/utils.ts
  src/backend-services/schedule/src/app/lib/config.ts
  src/backend-services/schedule/src/app/lib/db/config/config-node.ts
  src/backend-services/schedule/src/app/lib/db/config/config.ts
  src/backend-services/schedule/src/app/lib/db/migrations/00001-create-tables.ts
  src/backend-services/schedule/src/app/lib/db/models/appointment.ts
  src/backend-services/schedule/src/app/lib/db/models/command.ts
  src/backend-services/schedule/src/app/lib/db/models/index.ts
  src/backend-services/schedule/src/app/lib/db/models/user.ts
  src/backend-services/schedule/src/app/lib/db/seeders/.gitkeep
  src/backend-services/schedule/src/app/lib/kafka.ts
  src/backend-services/schedule/src/app/lib/logger.ts
  src/backend-services/schedule/src/app/lib/uniq-model.ts
  src/backend-services/schedule/src/tests/setup.ts
  src/backend-services/schedule/tsconfig.json
  src/backend-services/schedule/tsconfig.production.json
  src/packages/communication/src/channels.ts
  yarn.lock
Due: make lint

[+] Add data services for schedule service
  src/backend-services/schedule/src/app/services/appointments/create-appointment.ts
  src/backend-services/schedule/src/app/services/appointments/delete-appointment.ts
  src/backend-services/schedule/src/app/services/appointments/index.ts
  src/backend-services/schedule/src/app/services/appointments/types.ts
  src/backend-services/schedule/src/app/services/appointments/update-appointment.ts
  src/backend-services/schedule/src/app/services/commands/add-id.ts
  src/backend-services/schedule/src/app/services/commands/index.ts
  src/backend-services/schedule/src/app/services/commands/uniq-id.ts
  src/backend-services/schedule/src/app/services/index.ts
  src/backend-services/schedule/src/app/services/schedule/index.ts
  src/backend-services/schedule/src/app/services/users/create-user.ts
  src/backend-services/schedule/src/app/services/users/index.ts
  src/backend-services/schedule/src/app/services/users/types.ts
  src/backend-services/schedule/src/app/services/users/update-user.ts
Due: none

[+] Add handlers to schedule service
  src/backend-services/schedule/package.json
  src/backend-services/schedule/src/app/lib/db/models/appointment.ts
  src/backend-services/schedule/src/app/routes/index.ts
  src/backend-services/schedule/src/app/routes/v1/event-handlers/appointment-created.ts
  src/backend-services/schedule/src/app/routes/v1/event-handlers/appointment-deleted.ts
  src/backend-services/schedule/src/app/routes/v1/event-handlers/appointment-updated.ts
  src/backend-services/schedule/src/app/routes/v1/event-handlers/converters/appointment-created-to-client.ts
  src/backend-services/schedule/src/app/routes/v1/event-handlers/converters/appointment-updated-to-client.ts
  src/backend-services/schedule/src/app/routes/v1/event-handlers/converters/index.ts
  src/backend-services/schedule/src/app/routes/v1/event-handlers/converters/user-created-to-client.ts
  src/backend-services/schedule/src/app/routes/v1/event-handlers/converters/user-updated-to-client.ts
  src/backend-services/schedule/src/app/routes/v1/event-handlers/index.ts
  src/backend-services/schedule/src/app/routes/v1/event-handlers/user-created.ts
  src/backend-services/schedule/src/app/routes/v1/event-handlers/user-updated.ts
  src/backend-services/schedule/src/app/routes/v1/handlers/converters/appointment-to-proto.ts
  src/backend-services/schedule/src/app/routes/v1/handlers/converters/get-schedule-to-client.ts
  src/backend-services/schedule/src/app/routes/v1/handlers/converters/index.ts
  src/backend-services/schedule/src/app/routes/v1/handlers/get-schedule.ts
  src/backend-services/schedule/src/app/routes/v1/handlers/index.ts
  src/backend-services/schedule/src/app/routes/v1/index.ts
  src/backend-services/schedule/src/app/routes/v1/types.ts
  src/backend-services/schedule/src/app/routes/v1/validators/common.ts
  src/backend-services/schedule/src/app/routes/v1/validators/get-schedule.ts
  src/backend-services/schedule/src/app/routes/v1/validators/index.ts
  src/backend-services/schedule/src/app/services/index.ts
  src/backend-services/schedule/src/app/services/schedule/get-schedule.ts
  src/backend-services/schedule/src/app/services/schedule/index.ts
  src/backend-services/schedule/src/app/services/schedule/types.ts
  src/backend-services/schedule/src/app/storage/appointments-storage-service.ts
  src/backend-services/schedule/src/tests/commands.ts
  src/backend-services/schedule/src/tests/fixtures/appointments.ts
  src/backend-services/schedule/src/tests/fixtures/users.ts
  src/backend-services/schedule/src/tests/integration/get-schedule.test.ts
  src/backend-services/schedule/src/tests/utils/date.ts
  src/backend-services/schedule/src/tests/utils/db-utils.ts
  src/packages/koa-kafka/src/koa-kafka/koa-kafka.ts
  yarn.lock
Due: make lint

[+] Add calendar stores
  src/backend-services/api-gateway/src/providers/users/index.ts
  src/backend-services/api-gateway/src/routes/v1/authenticated/appointments/handlers/get-appointments.ts
  src/backend-services/api-gateway/src/routes/v1/authenticated/appointments/types.ts
  src/backend-services/api-gateway/src/routes/v1/authenticated/appointments/validators/get-appointments.ts
  src/backend-services/api-gateway/src/routes/v1/authenticated/users/handlers/get-users.ts
  src/backend-services/api-gateway/src/routes/v1/authenticated/users/handlers/index.ts
  src/backend-services/api-gateway/src/routes/v1/authenticated/users/index.ts
  src/backend-services/api-gateway/src/services/users-service/users-service.ts
  src/backend-services/users/src/app/routes/v1/handlers/get-users.ts
  src/backend-services/users/src/app/routes/v1/handlers/index.ts
  src/backend-services/users/src/app/routes/v1/index.ts
  src/backend-services/users/src/app/services/users/get-users.ts
  src/backend-services/users/src/app/services/users/index.ts
  src/backend-services/users/src/tests/commands.ts
  src/backend-services/users/src/tests/integration/get-users.test.ts
  src/client-services/calendar/src/services/api.ts
  src/client-services/calendar/src/services/appointments-service.ts
  src/client-services/calendar/src/services/index.ts
  src/client-services/calendar/src/services/users-service.ts
  src/client-services/calendar/src/stores/appointment-store.ts
  src/client-services/calendar/src/stores/appointments-store.ts
  src/client-services/calendar/src/stores/config.ts
  src/client-services/calendar/src/stores/create-appointment-store.ts
  src/client-services/calendar/src/stores/index.ts
  src/client-services/calendar/src/stores/users-store.ts
  src/packages/common/src/service-types/appointments-types.ts
  src/packages/common/src/service-types/users-types.ts
  src/packages/communication/messages/users/user.proto
  src/packages/communication/src/clients/users/users-client.ts
  src/packages/communication/src/proto-messages/users/commands.ts
  src/packages/communication/src/proto-messages/users/schemas/user.ts
  src/packages/communication/src/proto-messages/users/types/user.ts
Due: make lint, make validate-api-gateway, make validate-users

[+] Add calendar date component
  docker-compose.yml
  src/backend-services/api-gateway/src/routes/v1/authenticated/appointments/handlers/index.ts
  src/backend-services/api-gateway/src/routes/v1/authenticated/appointments/index.ts
  src/backend-services/schedule/src/app/configs/environment/production.ts
  src/backend-services/users/Makefile
  src/client-services/calendar/package.json
  src/client-services/calendar/src/components/common/date/date.tsx
  src/client-services/calendar/src/components/common/date/index.ts
  src/client-services/calendar/src/components/pages/calendar/calendar.tsx
  src/client-services/calendar/src/components/pages/calendar/components/calendar-dates/calendar-dates.tsx
  src/client-services/calendar/src/components/pages/calendar/components/calendar-dates/index.ts
  src/client-services/calendar/src/components/pages/calendar/index.ts
  src/client-services/calendar/src/components/pages/index.ts
  src/client-services/calendar/src/components/pages/paths.ts
  src/client-services/calendar/src/constants/app.constants.ts
  src/client-services/calendar/src/providers/appointments-provider.ts
  src/client-services/calendar/src/providers/create-appointment-provider.ts
  src/client-services/calendar/src/providers/index.ts
  src/client-services/calendar/src/providers/schedule-provider.ts
  src/client-services/calendar/src/providers/users-provider.ts
  src/client-services/calendar/src/stores/appointment-store.ts
  src/client-services/calendar/src/stores/appointments-store.ts
  src/packages/communication/src/saga/saga.ts
  yarn.lock
Due: make lint, make validate-api-gateway

[+] Add time select component
  src/client-services/calendar/src/components/common/date-input/date-input.tsx
  src/client-services/calendar/src/components/common/date-input/index.ts
  src/client-services/calendar/src/components/common/date/index.ts
  src/client-services/calendar/src/components/common/time-select/index.ts
  src/client-services/calendar/src/components/common/time-select/time-select.tsx
  src/client-services/calendar/src/components/pages/calendar/calendar.tsx
  src/client-services/calendar/src/components/pages/calendar/components/calendar-dates/calendar-dates.tsx
  src/client-services/calendar/src/components/pages/calendar/components/create-appointment-form/create-appointment-form.tsx
  src/client-services/calendar/src/components/pages/calendar/components/create-appointment-form/index.ts
  src/client-services/calendar/src/components/pages/calendar/components/create-appointment-form/utils.ts
  src/client-services/calendar/src/components/pages/calendar/components/create-appointment-form/validation.ts
  src/client-services/calendar/src/stores/create-appointment-store.ts
  src/client-services/calendar/src/texts.tsx
Due: none

[+] Add appointment component
  src/client-services/calendar/@types/styles.d.ts
  src/client-services/calendar/package.json
  src/client-services/calendar/src/components/common/time-select/time-select.tsx
  src/client-services/calendar/src/components/pages/calendar/calendar.tsx
  src/client-services/calendar/src/components/pages/calendar/components/appointment/appointment.pcss
  src/client-services/calendar/src/components/pages/calendar/components/appointment/appointment.tsx
  src/client-services/calendar/src/components/pages/calendar/components/appointment/index.ts
  src/client-services/calendar/src/components/pages/calendar/components/create-appointment-form/components/date-fields/date-fields.tsx
  src/client-services/calendar/src/components/pages/calendar/components/create-appointment-form/components/date-fields/index.ts
  src/client-services/calendar/src/components/pages/calendar/components/create-appointment-form/components/select-user-field/index.ts
  src/client-services/calendar/src/components/pages/calendar/components/create-appointment-form/components/select-user-field/select-user-field.tsx
  src/client-services/calendar/src/components/pages/calendar/components/create-appointment-form/create-appointment-form.tsx
  src/client-services/calendar/src/components/pages/calendar/components/create-appointment-form/index.ts
  src/client-services/calendar/src/stores/appointment-store.ts
  src/client-services/calendar/src/stores/appointments-store.ts
  src/client-services/calendar/src/stores/create-appointment-store.ts
  src/client-services/calendar/src/texts.tsx
  src/packages/ui-ex/src/components/formik-field/formik-field.tsx
  src/packages/ui/src/components/index.ts
  src/packages/ui/src/components/select/select.tsx
  src/packages/ui/src/components/textarea/index.ts
  src/packages/ui/src/components/textarea/textarea.tsx
  yarn.lock
Due: make lint

[*] Fix mongo user credentials
  README.md
  docker-compose.yml
  resources/mongo/001_users.js
  src/backend-services/appointments/Makefile
  src/backend-services/appointments/docker-compose.yaml
  src/backend-services/appointments/resources/mongo/001_users.js
  src/backend-services/appointments/src/app/lib/db/config/config.ts
Due: none

[+] Add event sourcing package
  README.md
  src/backend-services/appointments/package.json
  src/backend-services/appointments/src/app/lib/db/models/appointment-event.ts
  src/backend-services/appointments/src/app/lib/db/models/appointment-snapshot.ts
  src/backend-services/appointments/src/app/lib/db/models/counter.ts
  src/backend-services/appointments/src/app/storage/appointments-aggregate-service.ts
  src/backend-services/appointments/src/app/storage/read-only-aggregate-service.ts
  src/backend-services/authorization/src/app/services/auth/delete-user.ts
  src/backend-services/schedule/src/app/services/appointments/delete-appointment.ts
  src/packages/event-sourcing/.eslintrc.js
  src/packages/event-sourcing/.prettierrc.json
  src/packages/event-sourcing/package.json
  src/packages/event-sourcing/src/aggregate-builder.ts
  src/packages/event-sourcing/src/aggregate-service.ts
  src/packages/event-sourcing/src/counter.ts
  src/packages/event-sourcing/src/event.ts
  src/packages/event-sourcing/src/index.ts
  src/packages/event-sourcing/src/snapshot.ts
  src/packages/event-sourcing/src/utils.ts
  src/packages/event-sourcing/tsconfig.json
  src/packages/mongo-storage/MONGO_API.md
  src/packages/mongo-storage/README.md
  src/packages/mongo-storage/SERVICE_API.md
  src/packages/postgres-storage/src/storage-service.ts
  yarn.lock
Due: make lint, make validate-authorization

[+] Add documentation for mongo and postgres packages
  src/packages/mongo-storage/MONGO_API.md
  src/packages/mongo-storage/README.md
  src/packages/postgres-storage/POSTGRES_API.md
  src/packages/postgres-storage/README.md
  src/packages/postgres-storage/SERVICE_API.md
Due: none

[+] Add documentation for redis package
  src/packages/communication/MESSAGES.md
  src/packages/event-sourcing/README.md
  src/packages/redis-storage/README.md
  src/packages/redis-storage/REDIS_API.md
  src/packages/redis-storage/SERVICE_API.md
Due: none

[+] Add documentation for event sourcing package
  README.md
  src/client-services/calendar/README.md
  src/packages/communication/MESSAGES.md
  src/packages/event-sourcing/README.md
Due: none

[+] Add readme for addpointments and schedule services
  src/backend-services/appointments/README.md
  src/backend-services/schedule/README.md
Due: none

Path conditions:
  make lint: any of: src/packages/**/*.{js,jsx,ts,tsx,pcss}
  make validate-api-gateway: any of: src/backend-services/api-gateway/**/*.{js,ts}
  make validate-authorization: any of: src/backend-services/authorization/**/*.{js,ts}
  make validate-email: any of: src/backend-services/email/**/*.{js,ts}
  make validate-users: any of: src/backend-services/users/**/*.{js,ts}
  make validate-authorization-form: any of: src/client-services/authorization-form/**/*.{js,jsx,ts,tsx,pcss}
  make validate-dashboard: any of: src/client-services/dashboard/**/*.{js,jsx,ts,tsx,pcss}
  make validate-main: any of: src/client-services/main/**/*.{js,jsx,ts,tsx,pcss}
  make validate-settings: any of: src/client-services/settings/**/*.{js,jsx,ts,tsx,pcss}
